# Dependencias
vendor/

# Credenciales y configuración sensible
.env


# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos temporales de PHP
*.log
*.cache

# Archivos de IDE
.vscode/
.idea/
*.sublime-*